image: java:8-jdk

variables:
  DOCKER_DRIVER: overlay
  REGISTRY: registry.gitlab.com/maly7/firestore-replacement

stages:
  - build
  - test
  - publish

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

cache:
  paths:
    - .gradle/wrapper
    - document-store/build
    - relational-store/build

build:
  stage: build
  script:
    - ./gradlew assemble

test:
  stage: test
  script:
    - ./gradlew check
  artifacts:
    when: always
    paths:
      - document-store/build/reports
      - relational-store/build/reports

publish:
  stage: publish
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $REGISTRY
    - docker build -t $REGISTRY/document-store:1.0-SNAPSHOT document-store/
    - docker build -t $REGISTRY/relational-store:1.0-SNAPSHOT relational-store/
    - docker push $REGISTRY/document-store
    - docker push $REGISTRY/relational-store
  only:
    - master
