version: '3'

services:
  mysql:
    image: mysql:5.7
    container_name: mysql
    environment:
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_DATABASE: kryption
    ports:
      - "3306:3306"
    expose:
      - "3306"
    networks:
      - main
  mongodb:
    image: mongo:3.6.3
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: "${MONGODB_USER}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGODB_PASSWORD}"
      MONGO_INITDB_DATABASE: kryption
    ports:
      - "27017:27017"
    expose:
      - "27017"
    networks:
      - main
  relational:
    build: ./relational-store/build
    container_name: relational-store
    ports:
      - "8180:8180"
    expose:
      - "8180"
    depends_on:
      - mysql
    environment:
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
      RELATIONAL_JDBC_URL: jdbc:mysql://mysql:3306/kryption?autoReconnect=true
    networks:
      - main
  document:
    build: ./document-store/build
    container_name: document-store
    ports:
      - "8280:8280"
    depends_on:
      - mongodb
    environment:
      MONGODB_USER: "${MONGODB_USER}"
      MONGODB_PASSWORD: "${MONGODB_PASSWORD}"
      MONGODB_URL: mongodb://mongodb/kryption
    networks:
      - main

networks:
  main:
